# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.idea/
.vscode/

# Python caches
__pycache__/
*.py[cod]
*$py.class

# Large Dataset Folders (preventing 2.2GB+ GitHub upload limits)
dataset/
thumbnail_virality_predictor/thumbnails/

# Model Weights (Optional: remove if you use Git LFS)
*.pth
*.pt
